﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

a {
    color: SlateGray;
    text-decoration: none;
}

a:hover {
    color: DarkSlateGray;
}

/* Layout Styles
-----------------------------------------------------------*/
.header {
    background-image: url('/Content/header.jpg'); 
    background-repeat: no-repeat; 
    width:100%; 
    height:175px;
}

.menu {
    width: 100%; 
    max-width: 1000px;
    height: 34px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: LightSteelBlue;
    font-size: 12pt;
}

.menu li {
    display: inline;
    padding-left: 20px;
    line-height: 30px;
}

.menu a {
    color: White;
    text-decoration: none;
}

.menu a:hover {
    color: SlateGray;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
